:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --back-color-and-hero: #ffffff;
  --button-color: #f5f4fa;
  --background-hero-color: #2f303a;
  --hover-focus-color: #2196f3;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flexbox {
  display: flex;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--back-color-and-hero);
}

/* стили логотипа */

.page-header .flexbox {
  justify-content: flex-end;
  align-items: center;
}

.navigation {
  margin-right: 331px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--hover-focus-color);
  letter-spacing: 0.03em;
}

.nav-list-item-logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.link-logo {
  margin-right: 93px;
  text-decoration: none;
}

.black {
  color: var(--title-text-color);
  white-space: normal;
}

.white {
  color: var(--back-color-and-hero);
  white-space: normal;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.nav-list-item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-links,
.contacts-links {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.list,
.masterpiacies-buttons {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.masterpiacies-link {
  text-decoration: none;
}

.navigation-links {
  color: var(--title-text-color);
}

.navigation-links:hover,
.navigation-links:focus,
.contacts-links:hover,
.contacts-links:focus {
  color: var(--hover-focus-color);
}

.contacts-links {
  color: var(--primary-text-color);
}

/* hero */
.hero {
  background-color: var(--background-hero-color);
  margin-bottom: 94px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--back-color-and-hero);
}

.hero-content {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-link {
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--back-color-and-hero);
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: var(--hover-focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.what-we-do-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.features-title,
.masterpiacies-title {
  display: none;
}

.zero {
  display: block;
  margin: 0;
  padding: 0;
}

.features {
  margin-top: 94px;
  margin-bottom: 94px;
}

.features-list,
.what-we-do-list,
.team-list,
.project-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list-point,
.team-list-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}

.features-list-point:not(:last-child),
.what-we-do-list-item:not(:last-child),
.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-list-item {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-text {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--primary-text-color);
}

.what-we-do {
  margin-bottom: 94px;
}

.what-we-do-title {
  margin-bottom: 50px;
}

.team-title {
  margin-bottom: 50px;
  padding-top: 94px;
}

.what-we-do-list-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
}

/* команда */

.team {
  padding-bottom: 94px;
  background-color: var(--button-color);
}

.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-person {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-person-position {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.footer-location {
  flex-direction: column;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  align-items: flex-start;
  flex-direction: column;
}

.location {
  margin-top: 0;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--back-color-and-hero);
}

.footer-block {
  background-color: var(--background-hero-color);
}

.down-logo {
  margin-bottom: 20px;
  margin-right: 0;
}

.footer-links:not(:last-child) {
  margin-bottom: 9px;
}

/* portfolio chapter*/
/* кнопки */
.masterpiacies-buttons button {
  padding: 6px 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  color: var(--title-text-color);
  background: var(--button-color);
}

.masterpiacies-buttons {
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 94px;
}

.buttons-item:not(:last-child) {
  margin-right: 8px;
}

.button-mp:hover,
.button-mp:focus {
  border: none;
  color: var(--back-color-and-hero);
  background: var(--hover-focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.project-list {
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 94px;
}

.project-list-item:nth-child(3n) {
  margin-right: 0;
}

.project-list-item:nth-child(n + 6) {
  margin-bottom: 0;
}

.project-list-item {
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.masterpiacies-list-item {
  margin: 20px 24px 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--title-text-color);
}
.masterpiacies-text {
  margin: 0 24px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-text-color);
}
