:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --back-color-and-hero: #ffffff;
  --button-color: #f5f4fa;
  --background-hero-color: #2f303a;
  --hover-focus-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--back-color-and-hero);
}

/* стили логотипа */

.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--hover-focus-color);
  letter-spacing: 0.03em;
}

.link-logo {
  text-decoration: none;
}

.black {
  color: var(--title-text-color);
  white-space: normal;
}

.white {
  color: var(--back-color-and-hero);
  white-space: normal;
}

.navigation-links,
.contacts-links {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.list,
.masterpiacies-buttons {
  list-style-type: none;
}

.masterpiacies-link {
  text-decoration: none;
}

.navigation-links {
  color: var(--title-text-color);
}

.navigation-links:hover,
.navigation-links:focus {
  color: var(--hover-focus-color);
}

.contacts-links {
  color: var(--primary-text-color);
}

.contacts-links:hover,
.contacts-links:focus {
  color: var(--hover-focus-color);
}

/* hero */
.hero {
  background-color: var(--background-hero-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--back-color-and-hero);
}

.hero-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--back-color-and-hero);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--hover-focus-color);
}

.features-title,
.what-we-do-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.features-list-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-text {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--primary-text-color);
}

.team {
  background-color: var(--button-color);
}

.team-person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-person-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.location {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--back-color-and-hero);
}
.footer-block {
  background-color: var(--background-hero-color);
}

/* portfolio chapter*/
/* кнопки */
.masterpiacies-buttons button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  color: var(--title-text-color);
  background: var(--button-color);
}

.button-all:hover,
.button-all:focus,
.button-web:hover,
.button-web:focus,
.button-app:hover,
.button-app:focus,
.button-design:hover,
.button-design:focus,
.button-mark:hover,
.button-mark:focus {
  border: none;
  color: var(--back-color-and-hero);
  background: var(--hover-focus-color);
}

.masterpiacies-list-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--title-text-color);
}
.masterpiacies-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-text-color);
}
