.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-hero-color;
}

.footer-location {
  flex-direction: column;
  align-items: flex-start;
  margin-right: 93px;

  &:first-child {
    margin-right: 70px;
  }
}

.footer-links:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  align-items: flex-start;
  flex-direction: column;
}

.location {
  margin-top: 0;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: $font-weight-secondary;
  font-size: $font-size-secondary;
  line-height: 1.7;
  letter-spacing: $letter-spacing-primery;
  color: $back-color-and-hero;
}
.add-to-us {
  margin-bottom: 0;
  font-style: normal;
  font-weight: bold;
  font-size: $font-size-secondary;
  line-height: $line-height-secondary;
  letter-spacing: $letter-spacing-primery;
  text-transform: uppercase;
  color: $back-color-and-hero;
}

.sll-footer {
  margin: 20px 0 0 0;
}

.social-links-list__link--color {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icon-footer {
  fill: $back-color-and-hero;
}
