.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-hero-color;
}

.footer-location {
  margin: 0;
}

.footer-links {
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
}

.footer-links:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  margin-bottom: 60px;
}

.location {
  margin-top: 0;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: $font-weight-secondary;
  font-size: $font-size-secondary;
  line-height: 1.7;
  letter-spacing: $letter-spacing-primery;
  text-align: center;
  color: $back-color-and-hero;
}
.add-to-us {
  display: block;
  margin: 0 0 20px;
  font-style: normal;
  font-weight: bold;
  font-size: $font-size-secondary;
  line-height: $line-height-secondary;
  letter-spacing: $letter-spacing-primery;
  text-transform: uppercase;
  text-align: center;
  color: $back-color-and-hero;
}

.sll-footer {
  margin: 0 0 60px;
}

.social-links-list__link--color {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icon-footer {
  fill: $back-color-and-hero;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }

  .footer-location {
    flex-direction: column;
    align-items: center;
    // margin-right: 93px;

    // &:first-child {
    //   margin-right: 70px;
    // }
  }

  .footer-links {
    display: block;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .footer-links:not(:last-child) {
    margin-bottom: 9px;
  }

  .address {
    align-items: center;
    flex-direction: column;
    margin: 0;
  }

  .location {
    margin-bottom: 9px;
  }

  .add-to-us {
    margin-bottom: 0;
  }

  .sll-footer {
    margin: 20px 0 0 0;
  }
}

@include for-size(desktop) {
  .wrapper {
    display: inline-flex;
    justify-content: start;
  }

  .footer-location {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 93px;

    &:first-child {
      margin-right: 70px;
    }
  }

  .footer-links {
    display: block;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .footer-links:not(:last-child) {
    margin-bottom: 9px;
  }

  .address {
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
  }

  .location {
    margin-bottom: 9px;
  }

  .add-to-us {
    margin-bottom: 0;
  }

  .sll-footer {
    margin: 20px 0 0 0;
  }
}
