.hero {
  background-color: #c4c4c4;
  background: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/480px-1x/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;

  &__content {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $back-color-and-hero;
  }

  &__link {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 0 auto;

    text-align: center;
    text-decoration: none;
    font-weight: $font-weight-primery;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $back-color-and-hero;

    background: $hover-focus-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/480px-2x/hero-img@2x.jpg);
    background-size: cover;
  }
}

@include for-size(tablet) {
  .hero {
    background: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/768px-1x/hero-img.jpg);
    background-size: cover;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/768px-2x/hero-img@2x.jpg);
      background-size: cover;
    }
  }
}

@include for-size(desktop) {
  .hero {
    background: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/1200px-1x/hero-img.jpg);
    background-size: cover;
    background-position: center;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/1200px-2x/hero-img@2x.jpg);
      background-size: cover;
      background-position: center;
    }
  }

  .hero__content {
    width: 696px;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}
