.logo-link {
  display: inline-block;
  margin-right: 93px;
  text-decoration: none;

  &__text {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: $hover-focus-color;
    letter-spacing: 0.03em;
  }

  &__text--black {
    color: $title-text-color;
    white-space: normal;
  }

  &__text--white {
    color: $back-color-and-hero;
    white-space: normal;
  }

  &--down {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
