.nav__contacts-links {
  padding-top: 7px;
  padding-bottom: 7px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: $primary-text-color;

  &:hover,
  &:focus {
    color: $hover-focus-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.nav__contacts-links--flex {
  display: flex;
  align-items: center;
}

@include for-size(tablet) {
  .nav__contacts-links {
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

@include for-size(desktop) {
  .nav__contacts-links {
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
