.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  // outline: 1px solid tomato;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.relative {
  position: relative;
}

// .container {
//   width: 480px;
//   padding-left: 15px;
//   padding-right: 15px;
//   margin-left: auto;
//   margin-right: auto;
// }

@include for-size(mobile-only) {
  .container {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@include for-size(mobile) {
  .container {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@include for-size(tablet) {
  .container {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@include for-size(desktop) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.flexbox {
  display: block;
}

@include for-size(tablet) {
  .flexbox {
    display: flex;
  }
}

@include for-size(desktop) {
  .flexbox {
    display: flex;
  }
}

.align-items {
  align-items: center;
}

// .baseline {
//   align-items: baseline;
// }

@include for-size(tablet) {
  .baseline {
    align-items: baseline;
  }
}

@include for-size(desktop) {
  .baseline {
    align-items: baseline;
  }
}

.zero {
  display: block;
  margin: 0;
  padding: 0;
}

.deco {
  position: relative;
  display: block;
}

body {
  font-family: $font-roboto;
  background-color: $back-color-and-hero;
}

.list,
.masterpiacies__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features__list,
.what-we-do__list,
.team__list,
.project-list {
  display: block;
}

@include for-size(tablet) {
  .features__list,
  .what-we-do__list,
  .team__list,
  .project-list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__list,
  .team__list {
    margin: -15px;
  }
}

// @include for-size(desktop) {
//   .features__list,
//   .what-we-do__list,
//   .team__list,
//   .project-list {
//     display: flex;
//     flex-wrap: wrap;
//   }
// }

.features__list-item,
.team__list-item {
  display: block;
  margin-bottom: 30px;
}

.features__list-item:last-child,
.what-we-do__list-item:last-child,
.team__list-item:last-child {
  margin-bottom: 0;
}

@include for-size(tablet) {
  .features__list-item,
  .team__list-item {
    margin: 15px;
    flex-basis: calc(50% - 30px);
  }

  .features__list-item:last-child,
  .team__list-item:last-child {
    margin-bottom: 15px;
  }
}

@include for-size(desktop) {
  .features__list-item,
  .team__list-item {
    flex-basis: calc(25% - 30px);
  }
}

// @include for-size(tablet) {
//   // .features__list-item:not(:last-child),
//   // .what-we-do__list-item:not(:last-child),
//   // .team__list-item:not(:last-child) {
//     margin-right: 30px;
//   }
// }

@include for-size(desktop) {
  // .features__list-item:not(:last-child),
  // .team__list-item:not(:last-child),
  .what-we-do__list-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
