.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flexbox {
  display: flex;
}

.baseline {
  align-items: baseline;
}

.zero {
  display: block;
  margin: 0;
  padding: 0;
}

.deco {
  position: relative;
  display: block;
}

body {
  font-family: $font-roboto;
  background-color: $back-color-and-hero;
}

.list,
.masterpiacies__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features__list,
.what-we-do__list,
.team__list,
.project-list {
  display: flex;
  flex-wrap: wrap;
}
.features__list-item,
.team__list-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}

.features__list-item:not(:last-child),
.what-we-do__list-item:not(:last-child),
.team__list-item:not(:last-child) {
  margin-right: 30px;
}
