.features__list,
.what-we-do__list,
.team__list,
.project-list {
  display: flex;
  flex-wrap: wrap;
}
.features__list-item,
.team__list-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}

.features__list-item:not(:last-child),
.what-we-do__list-item:not(:last-child),
.team__list-item:not(:last-child) {
  margin-right: 30px;
}
