$primary-text-color: #757575;
$title-text-color: #212121;
$back-color-and-hero: #ffffff;
$button-color: #f5f4fa;
$background-hero-color: #2f303a;
$hover-focus-color: #2196f3;
$current-icon-color: #afb1b8;
$font-roboto: Roboto, sans-serif;
$font-raleway: Raleway, sans-serif;
$font-weight-primery: 700;
$font-size-primery: 36px;
$line-height-primery: 1.16;
$letter-spacing-primery: 0.03em;
$font-weight-secondary: 400;
$font-size-secondary: 14px;
$line-height-secondary: 1.14;
