$primary-text-color: #757575;
$title-text-color: #212121;
$back-color-and-hero: #ffffff;
$button-color: #f5f4fa;
$background-hero-color: #2f303a;
$hover-focus-color: #2196f3;
$current-icon-color: #afb1b8;
